<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EM</title>
    <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
      <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: "553b9d8d-17db-4455-8b55-ae78047461a0",
          });
        });

      </script>

  </head>
  <body>


    <p id="demo"></p>
    {{#each upcoming_events}}

    <p>{{name}}</p>
    <p>{{date}}</p>
    <button id={{_id}} onClick="reply_click(this.id)">Try it</button>
    {{/each}}

    <script>

    var userId;

    OneSignal.push(async function() {
       userId = await OneSignal.getUserId();
       // console.log(userId);
    });

    function reply_click(eventId){
      if(userId && eventId) postItem();

        function postItem() {
            $.ajax({
                type: "POST",
                url: "/",
                timeout: 2000,
                data: { user_id: userId, event_id: eventId},
            });
          }
      }


    </script>
  </body>
</html>
