<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EM</title>
    <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
      <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: "d3d99984-794f-4c25-bedb-5cb810d8ed86",
          });
        });

      </script>

  </head>
  <body>

    <button id="myBtn">Try it</button>
    <p id="demo"></p>


    <script>
      OneSignal.push(async function() {
        const userId = await OneSignal.getUserId();
          console.log("OneSignal User ID:", userId);


          document.getElementById("myBtn").addEventListener("click", function(){
            postItem();
          });

        function postItem() {
          $.ajax({
              type: "POST",
              url: "/",
              timeout: 2000,
              data: { text: userId },

          });
        }

        });




    </script>
  </body>
</html>
