body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(15, 140, 219)!important;
}
.container-fluid {
  padding:0!important;
  color: #fff;
}
@media(max-width: 768px) {
  .container-fluid {
  padding-top: 70px!important;
}
}
.row {
  padding: 10px!important;
  padding-right: 20px!important;
  padding-left: 20px!important;
}
.row:nth-child(odd) {
  background-color: rgb(15, 140, 219)!important;
}
.row:nth-child(even) {
  background-color:rgb(6,115,184)!important;
}

.web .row {
  background-color: transparent!important;
}

.date {
 border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 13px;
  padding-top: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  vertical-align: middle;
  font: 14px Arial, sans-serif;
}

.row {
  padding: 20px;
}
.btn-link {
  border: 2px solid #fff!important;
  border-radius: 3rem!important;
  color: #fff!important;
  font-size: 11px!important;
}
.btn-warning {
  background-color: transparent!important;
  border: none!important;
  outline: 0!important;
}
.btn-warning:hover , .btn-warning:active , .btn-warning:target , .btn-warnig:active {
  background-color: transparent!important;
  border: none!important;
  outline: 0!important;
}
.nibble {
  position: fixed;
  bottom: 0;
  color: black;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  padding-left: 0!important;
  padding-top: 5px;
}
.upper {
  background-color: rgb(15, 140, 219);
  color: #fff;
  padding: 30px 50px 70px 50px;
  min-height: 30vh;
}
.lower {
  background-color:rgb(6,115,184);
  color: #fff;
  padding: 30px 50px 70px 50px;
  min-height: 70vh;
}
@media(max-width: 768px) {
  .lower , .upper {
    padding: 30px 20px 70px 20px;
  }
  .nibble {
    text-align: center;
  }
}
.close {
  background-color: transparent;
  outline: 0!important;
  border: none!important;
}
.bell {
  background-color: transparent;
  outline: 0!important;
  border: none!important;
  margin-top: 10px;
}
.bell:hover {
  transform: scale(1.1)!important;
}
.name {
  font-size: 1.20rem;
}
.society {
  font-size: 14px;
  margin-top: 10px;
}
.eventdate {
  font-size: 17px;
  margin-top: 20px;
}
@media(max-width: 768px) {
  .name {
    font-size: 0.75rem;
  }
  .society {
    font-size: 12px;
    margin-top: 0;
  }
  .eventdate {
    font-size: 16px;
    margin-top: 10px
  }
  .bell{
    margin-top: 0;
  }
  .row {
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
}
:disabled {
    opacity: 0.4!important;
}
.active {
  color: blue!important;
}
.lower a {
  color: red!important;
}
