*:focus {
    outline: 0 !important;
}

 #loginform .form-control {
    width: 300px!important;
    background-color: transparent!important;
    border: none!important;
    outline: 0!important;
    border-bottom: 1px solid #fff!important;
    border-radius: 0!important;
 }
  #loginform .form-control:focus {
    width: 300px!important;
    background-color: transparent!important;
    border: 1px solid #fff;
    outline: 0!important;
    border-bottom: 1px solid #fff!important;
    border-radius: 0!important;
    color: #fff!important;
 }
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff!important;
    opacity: 1; /* Firefox */
}
 @media(max-width: 768px) {
    #loginform .formcontrol {
      width: 200px;
    }
 }
.login-button {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none;
}
.login-button: active , .login-button:focus , login-button:target {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none!important;
}
