*:focus {
    outline: 0 !important;
    outline-style: none!important;
    
}
*:active {
    outline: 0 !important;
    
}
*:target{
    outline: 0 !important;
   
}

 #loginform .form-control {
    width: 300px!important;
    background-color: transparent!important;
    border: none!important;
    outline: 0!important;
    border-bottom: 1px solid #fff!important;
    border-radius: 0!important;
    color: #fff!important;
 }
  #loginform .form-control:focus {
    width: 300px!important;
    background-color: transparent!important;
    
    outline: 0!important;
    border: 1px solid #fff!important;
    border-radius: 0!important;
    color: #fff!important;
 }
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255,255,255,0.5)!important;
    opacity: 1; /* Firefox */
}
 @media(max-width: 768px) {
    #loginform .formcontrol {
      width: 200px;
    }
 }
.login-button {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none;
  font-weight: 600;
  z-index: 5;
}
.login-button: active , .login-button:focus , login-button:target {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none!important;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
}
.create_height {
  height: 100vh;
}
@media(max-width: 768px) {
  .create_height {
    height: 100vh!important;
  }
}
.textarea {
  background-color: transparent!important;
  color: black!important;
  width: 300px!important;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff!important;
  overflow-y: auto!important;
}
.textarea::-webkit-scrollbar {
   width: 0.25rem;
 }
.textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.footerimage {
  bottom: 0;
  width: 100vw;
  position: absolute;
  
}
.logout {
  background-color: transparent;
  color: black;
  outline:0!important;
  border: none!important;
}
