
body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  background-color:rgb(6,115,184)!important;
  font-family: 'Montserrat', sans-serif!important;
}
.bodyLeft {
  padding: 0;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
  }
  .bodyleft {
    padding-left: 17rem;
  }
}
.container-fluid {
  padding:0!important;
  color: #fff;
}
@media(max-width: 768px) {
  .container-fluid {
  padding-top: 70px!important;
}
}
.row {
  padding: 10px!important;
  padding-right: 20px!important;
  padding-left: 20px!important;
}
.row:nth-child(odd) {
  background-color: rgb(15, 140, 219)!important;
}
.row:nth-child(even) {
  background-color:rgb(6,115,184)!important;
}
.web .row {
  background-color: transparent!important;
}
.row {
  padding: 20px;
}
.btn-link {
  border: 2px solid #fff!important;
  border-radius: 3rem!important;
  color: #fff!important;
  font-size: 11px!important;
  font-weight: bold!important;
}
.btn-link:hover {
  color: black!important;
  background-color: #fff!important;
  text-decoration: none!important;
}
.btn-warning {
  background-color: transparent!important;
  border: none!important;
  outline: 0!important;
}
.btn-warning:hover , .btn-warning:active , .btn-warning:target , .btn-warnig:active {
  background-color: transparent!important;
  border: none!important;
  outline: 0!important;
}
.nibble {
  position: fixed;
  bottom: 0;
  color: black;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  padding-left: 0!important;
  padding-top: 5px;
}
.upper {
  background-color: rgb(15, 140, 219);
  color: #fff;
  padding: 60px 50px 70px 50px;
  min-height: 30vh;
}
.lower {
  background-color:rgb(6,115,184);
  color: #fff;
  padding: 30px 50px 70px 50px;
  min-height: 70vh;
}
@media(max-width: 768px) {
  .lower , .upper {
    padding: 60px 20px 70px 20px;
  }
  .nibble {
    text-align: center;
  }
}
.close {
  background-color: transparent;
  outline: 0!important;
  border: none!important;
}
.bell {
  background-color: transparent;
  outline: 0!important;
  border: none!important;
  margin-top: 10px;
}
.bell:hover {
  transform: scale(1.1)!important;
}
.name {
  font-size: 1.20rem;
}
.society {
  font-size: 14px;
  margin-top: 10px;
}
.eventdate {
  font-size: 17px;
  margin-top: 10px;
}
@media(max-width: 768px) {
  .name {
    font-size: 0.75rem;
  }
  .society {
    font-size: 12px;
    margin-top: 0;
  }
 
  .bell{
    margin-top: 0;
  }
  .row {
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
}
:disabled {
    opacity: 0.4!important;
}
.active {
  color: blue!important;
}
.lower a {
  color: red!important;
}
 .navbar {
  padding-top: 0.7rem!important;
  padding-bottom: 0.7rem!important;
 }
.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}
.list-icons {
  font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    padding-top: 50px!important;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left!important;
    width: 17rem;
    height: 100vh;
    z-index: 5;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin-top: 10px;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(./toggle.png)!important;
}
.navbar-dark:focus .navbar-toggler-icon:focus {
 border: none!important;
 outline: 0!important;
}
.navbar-dark:target .navbar-toggler-icon:target {
 border: none!important;
 outline: 0!important;
}
.navbar-dark:active .navbar-toggler-icon:active {
 border: none!important;
 outline: 0!important;
}
.bg-primary-main {
  background-color: #fff!important;
}
.text-primary {
  color: black !important;
}
a {
  color: #BD5D38;
}
a:hover, a:focus, a:active {
  color: #824027;
  text-decoration: none!important;
  transform: scale(1.1)!important;
}
.eventmanager {
  font-size: 22px;
  font-weight: 600;
  color: black!important;
}
@media(max-width: 768px) {
  .eventmanager {
    font-size: 20px;
    color: black!important;
  }
}
.navlink {
  color: black!important;
  margin-left: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.icon {
  margin-left: 2rem;
}
.logo {
  width: 50%;
}

@media(max-width: 768px) {
  .navlink {
    color: black!important;
  }
  .icon {
    margin-left: 0.25rem;
  }
  .logo {
    width: 40px;
  }
}
*:focus {
    outline: 0 !important;
    outline-style: none!important;
}
*:active {
    outline: 0 !important;
}
*:target{
    outline: 0 !important;
}

 #loginform .form-control {
    width: 300px!important;
    background-color: transparent!important;
    border: none!important;
    outline: 0!important;
    border-bottom: 1px solid #fff!important;
    border-radius: 0!important;
    color: #fff!important;
 }
  #loginform .form-control:focus {
    width: 300px!important;
    background-color: transparent!important;
    outline: 0!important;
    border: 1px solid #fff!important;
    border-radius: 0!important;
    color: #fff!important;
 }
 ::placeholder { 
    color: rgba(255,255,255,0.5)!important;
    opacity: 1; 
}
 @media(max-width: 768px) {
    #loginform .formcontrol {
      width: 200px;
    }
 }
.login-button {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none;
  font-weight: 600;
  z-index: 5;
}
.login-button:active , .login-button:focus , .login-button:target {
  border-radius: 3rem;
  background-color: #fff;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  outline: none!important;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
}
.create_height {
  min-height: 120vh!important;
}
@media(max-width: 768px) {
  .create_height {
    min-height: 120vh!important;
  }
}



.textarea {
  background-color: transparent!important;
  color: black!important;
  width: 300px!important;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff!important;
  overflow-y: auto!important;
}
.textarea::-webkit-scrollbar {
   width: 0.25rem;
 }
.textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.footerimage {
  bottom: 0;
  width: 100vw;
  position: fixed;
}
.logout {
  background-color: transparent;
  color:black;
  outline:0!important;
  border: none!important;
  font-weight: bold!important;
  text-transform: uppercase;
  cursor: pointer!important;
}
@media(max-width: 768px) {
  .logout {
  color: black;
}
}
.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #fff;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll {
  overflow-x: hidden;
}
@media(max-width: 768px) {
  .scroll {
    overflow-x: scroll!important;
  }
 }
.delete {
  margin-top: 10px;
}

#cke_19 , #cke_27 , #cke_37 , #cke_24 , #cke_44{
  display: none!important;
}

#cke_editor1  {
   width: 90vh!important;
}
.lower img {
  width: 600px!important;
  height: auto!important;
}
@media(max-width: 768px) {
  #cke_editor1  {
    width: 90vw!important;
  }
  .lower img {
  width: 220px!important;
  height: auto!important;
}
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.4);
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}
